include ../include/variable/global.jade

- var cssRoot  = appDomain + '/css'
- var jsRoot   = appDomain + '/js'
- var imgRoot  = appDomain + '/images'
- var htmlRoot = appDomain + '/view'

block bodyHtmlVar
	- var bodyClassname  = 'body-bg1'


include ../mixin/global.jade

doctype html
html
	head
		meta(charset = 'utf-8')
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		//- meta(name="apple-mobile-web-app-capable", content="yes")
		block head-title
			title 口岸年会
		//- link(rel = 'shortcut icon', type = 'image/x-icon', href = '#{appDomain}/favicon.ico')
		block head-theme
			link(rel = 'stylesheet', href = '#{cssRoot}/base#{cssFileAdorn}.css?v=#{version}')
		block head-script
			script(src = '#{jsRoot}/lib/zepto.js?v=#{version}')

	body(class="#{bodyClassname}")
		header
			block main-title
				h1.main-title.main-title--wxq
		main
			block main-content


		block floor-script
			script(src = '#{jsRoot}/app/keyup-redirect.js?v=#{version}' asyn)
